@import '../../../../css/app.scss';

// table header
$table-header-padding: 8px;
$table-header-translation: background-color 0.3s;
$tooltip-border-radius: 4px;
$tooltip-border-radius: 4px;

/* Base styles for the table header */
.table-header {
  @extend .label-xs-bold, .text-bluegray-700;
  align-items: center;
  cursor: pointer;
  padding: $table-header-padding;
  transition: $table-header-translation;
}

/* Tooltip styling */
.tooltip-class {
  @extend .text-black, .bg-white;
  padding: $table-header-padding;
  border-radius: $tooltip-border-radius;
}

.q-icon.q-ml-xs {
  @extend .text-bluegray-500, .label-md;
}

/* Change icon color to black on hover */
.table-header:hover .q-icon.q-ml-xs {
  @extend .text-black, .label-md;
}

/* disabled state styling */
.table-header.disabled-state {
  @extend .text-bluegray-300;
  .q-icon.q-ml-xs {
    @extend .text-bluegray-300, .label-md;
  }
}
