@import '../../../../css/app.scss';

// table header
$table-header-padding: 8px;
$table-header-translation: background-color 0.3s;
$tooltip-border-radius: 4px;
$tooltip-border-radius: 4px;

/* Base styles for the table header */
.table-header {
    @extend .label-xs-bold;
    align-items: center;
    cursor: pointer;
    padding: $table-header-padding;
    transition: $table-header-translation;
}

/* disabled state styling */
.table-header.disabled-state {
    @extend .text-bluegray-300;
}

/* Tooltip styling */
.tooltip-class {
    @extend .text-black, .bg-white;
    padding: $table-header-padding;
    border-radius: $tooltip-border-radius;
}
