@import '../../../../../../css/app.scss';

.service-card {
  @extend .bg-bluegray-50;
  width: 100%;
  border-radius: 36px;
  margin: 16px 0px;
  padding: 24px;
  .service-text {
    @extend .heading-6;
  }
  .service-head-content {
    gap: 12px;
  }
  .date-container {
    margin-top: 13px;
  }
  .date {
    @extend .label-md, .text-bluegray-600;
  }
  .link-icon {
    @extend .text-bluegray-600, .bg-bluegray-50;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 20px;
    border: 1px solid $bluegray-300;
  }
  .services-container {
    margin-top: 32px;
  }
}
