@import '../../../../../../css/app.scss';

.notice-list {
  margin-top: 36px;
  @extend .text-bluegray-900;
  max-height: 212px;
  overflow: hidden;

  .title {
    @extend .label-lg-bold;
    margin-bottom: 8px;
  }

  .date {
    @extend .label-sm;
    margin-bottom: 16px;
  }

  .notice {
    @extend .p-md;
    padding-right: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
  }
}
