@import '../../../../../../css/app.scss';

.landing-content {
  .icon-container {
    margin-top: 36px;
  }

  .icon:first-child {
    @extend .bg-arcticblue-600, .text-white;
  }

  .icon {
    @extend .bg-bluegray-50, .text-bluegray-500;
    width: 52px;
    height: 52px;
    font-size: 20px;
    border-radius: 50%;
    margin: 0px 6px;
  }

  .card-container {
    gap: 16px;
    margin-top: 40px;
  }

  .card-button {
    margin-top: 36px;
  }


  .title {
    @extend .heading-3;
    margin-top: 60px;
    margin-bottom: 16px;
  }

  .sub-title {
    @extend .p-lg;
  }

  .products-card {
    margin-top: 17px;
  }
}
    .link-button {
      margin-top: 36px;
      width: 390px;
    }
