@import '../../../../css/app.scss';

$standard-button-width: 162px;
$standard-button-height: 52px;
$standard-button-border-radius: 48px;
$standard-button-border: 1px solid $bluegray-300;
$left-icon-padding-right: 20px;
$left-icon-margin-left: -30px;
$right-icon-padding-left: 20px;
$right-icon-margin-right: -30px;

.standard-button {
  @extend .label-sm-bold;
  width: 100%;
  height: $standard-button_height;
  border-radius: 48px;
  position: relative;
  :deep(.q-icon) {
    font-weight: 400;
    font-size: 20px;
  }
}
.standard-button.right-arrow {
  padding-right: 60px;
  :deep(.on-right) {
    display: none;
  }

  .arrow-icon {
    position: absolute;
    right: 4px;
  }
}

.standard-button.left-arrow {
  padding-left: 50px;

  .arrow-icon {
    position: absolute;
    left: 4px;
  }
  :deep(.on-left) {
    display: none;
  }
}
.standard-button.no-left-icon {
  :deep(.on-left) {
    display: none;
  }
}
.standard-button.no-right-icon {
  :deep(.on-right) {
    display: none;
  }
}
:deep(.q-btn_content) {
  position: relative;
}
:deep(.q-icon.on-left) {
  position: absolute;
  left: 16px;
}
:deep(.q-icon.on-right) {
  position: absolute;
  right: 16px;
}
:deep(span.block){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
// Define shared property pattern mixin
@mixin tag-property($property-name) {
  @if $property-name == 'button-arcticblue' {
    @extend .bg-arcticblue-600, .text-white;
  } @else if ($property-name == 'button-arcticblue-outline') {
    @extend .bg-white, .text-bluegray-900;
    border: $standard-button-border;
  } @else if ($property-name == 'button-limegreen') {
    @extend .bg-limegreen-400, .text-bluegray-900;
  } @else if ($property-name == 'button-limegreen-outline') {
    @extend .bg-white, .text-bluegray-900;
    border: $standard-button-border;
  } @else if ($property-name == 'button-bluegray') {
    @extend .bg-bluegray-800, .text-white;
  } @else if ($property-name == 'button-bluegray-outline') {
    @extend .bg-bluegray-50, .text-bluegray-900;
  }
}

// Define styles based on type
.button-arcticblue {
  @include tag-property('button-arcticblue');
}

.button-arcticblue.button-outlined {
  @include tag-property('button-arcticblue-outline');
}

.button-limegreen {
  @include tag-property('button-limegreen');
}

.button-limegreen.button-outlined {
  @include tag-property('button-limegreen-outline');
}
.button-bluegray {
  @include tag-property('button-bluegray');
}

.button-bluegray.button-outlined {
  @include tag-property('button-bluegray-outline');
}
