@import '../../.../../../../../../css/app.scss';

$header-height: 92px;
.service-application-header {
  @extend .bg-white, .text-bluegray-900;
  position: sticky;
  top: 0;
  height: $header-height;
  .menu-navigation {
    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
