@import '../../../css/app.scss';

$breadcrum-circle-padding: 12px;

$breadcrum-circle-button-width: 28px;
$breadcrum-circle-button-height: 24px;
$breadcrum-circle-button-radius: 50px;
$breadcrum-circle-button-margin-right: 12px;
$breadcrum-circle-button-margin: 5px;

$breadcrum-main-text-minwidth: 214px;
$breadcrum-main-text-maxwidth: 284px;

$breadcrum-price-text-minwidth: 64px;
$breadcrum-price-text-maxwidth: 84px;

$breadcrum-circle-button-icon-width: 37px;
$breadcrum-circle-button-icon-height: 26px;
$breadcrum-circle-button-icon-margin: 5px;
$breadcrum-circle-button-icon-radius: 50px;

.li-item-container {
    text-align: center;
    justify-content: center;
}

.circle-button {
    cursor: pointer;
    width: $breadcrum-circle-button-width;
    height: $breadcrum-circle-button-height;
    margin: $breadcrum-circle-button-margin;
    margin-right: $breadcrum-circle-button-margin-right;
    border-radius: $breadcrum-circle-button-radius;
    border: 1px solid black;
}

.main-text {
    @extend .label-sm, .text-black;
    display: flex;
    align-items: center;
    // min-width: $breadcrum-main-text-minwidth;
    // max-width: $breadcrum-main-text-maxwidth;
    width: 100%;
}

.price-text {
    @extend .label-sm, .text-black;
    display: flex;
    align-items: center;
    padding-left: $breadcrum-circle-padding;
    padding-right: $breadcrum-circle-padding;
    width: $breadcrum-price-text-minwidth;
    max-width: $breadcrum-price-text-maxwidth;
}

.circle-button-icon {
    cursor: pointer;
    width: $breadcrum-circle-button-icon-width;
    height: $breadcrum-circle-button-icon-height;
    margin: $breadcrum-circle-button-icon-margin;
    border-radius: $breadcrum-circle-button-icon-radius;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-item-container {
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
}