@import '../../../../../../css/app.scss';

// Define constants
$headerFontWeight: 800;
$headerFontSize: 32px;
$containerWidth: 361px;
$verificationLabelColor: #475467;
$verificationLabelFontSize: 14px;
$containerMarginTop: 60px;
$containerPadding: 14px 16px;
$verificationInputWidth: 197px;
$verificationIconMargin: 16px;
$buttonMarginTop: 60px;

// Header title styles
.header-title {
  font-weight: $headerFontWeight;
  font-size: $headerFontSize;
}

// Text field styles
.textfield {
  margin-top: 24px;
}

// Form container styles
.form-container {
  width: $containerWidth;
  margin-top: $containerMarginTop;
}

// Verification code label styles
.verification-code-label {
  margin-bottom: 8px;
  color: $verificationLabelColor;
  font-size: $verificationLabelFontSize;
  margin-top: 24px;
}

// Verification code container styles
.verification-code-container {
  width: $containerWidth;
  height: 52px;
  background-color: #f9fafb;
  border-radius: 16px;
  padding: $containerPadding;
  display: flex;
  align-items: center;
}

// Verification code input styles
.verification-code-input {
  width: $verificationInputWidth;
}

// Verification code icon styles
.verification-code-icon {
  font-weight: normal;
  margin-right: $verificationIconMargin;
}

// Verification code text styles
.verification-code-text {
  margin-left: 12px;
}

// Button container styles
.button-container {
  display: flex;
  margin-top: $buttonMarginTop;
}
