@import '../../../../../../../css/app.scss';

// Initialize constants
$margin-small: 24px;
$margin-medium: 36px;
$margin-large: 60px;
$gap-small: 16px;
$gap-medium: 24px;
$grid-main-column-sm: 70% 30%;
$grid-main-column-lg: 60% 40%;

// Main grid container
.grid-main-container {
  display: grid;
  margin: $margin-small;
  grid-template-columns: repeat(1, 1fr);
  gap: $gap-small;
}

// Section container
.section-container {
  margin-bottom: $margin-large;
}

// Card container
.card-container {
  justify-content: flex-start;
  margin-bottom: $margin-large;
}

.card-list-container {
  display: flex;
  margin-bottom: $margin-medium;
}

// Card spacing
.card-spacing {
  margin-right: $gap-small;
}

// Section checkbox title
.section-checkbox-title {
  @extend .heading-6;
}

// Checkbox container
.checkbox-container {
  margin-bottom: $margin-medium;
  gap: 16px;
}

// Checkbox spacing

// Textfield margin
.field-gap {
  margin-top: $margin-small;
}

// Section title
.section-title {
  @extend .heading-6;
  margin-bottom: $margin-medium;
}

.subdomain-container {
  display: flex;
  align-items: end;

  .subdomain-label {
    width: 100%;
    margin-right: 16px;
  }
}
