@import '../../../../css/app.scss';

$footer-margin-bottom: 40px;
$footer-margin-top: 120px;
$footer-height: 76px;
$footer-border-radius: 36px;

.service-application-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  @extend .bg-bluegray-50, .text-bluegray-900;
  margin-bottom: $footer-margin-bottom;
  margin-top: $footer-margin-top;
  padding: 12px 12px 12px 36px;
  border-radius: $footer-border-radius;

  .application-content-block{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
  }

  .footer-icon-block{
    display: flex;
    gap: 8px;
    .footer-icon {
      font-size: 20px;
      font-weight: 400;
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
  }
}
