@import '../../../../../../../css/app.scss';

.select-options {
  .select-text {
    @extend .heading-6;
    display: flex;
    @media screen and (max-width: $breakpoint-xs) {
      justify-content: center;
      span{
        margin: 0 auto;
      }
    }
    :deep(.q-icon){
      margin-right: -24px;
      @media screen and (min-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  .selected-text {
    @extend .heading-6;
  }

  .card-container {
    margin-top: 16px;
  }
  .select-service-row {
    margin-top: 28px;
  }
  .games-row {
    margin-top: 70px;
  }
  .scale-row {
    margin-top: 70px;
  }
}
