@import '../../../../css/app.scss';

$containerWidth: 361px;
$containerMarginTop: 60px;
$verificationLabelColor: #475467;
$verificationLabelFontSize: 14px;
$containerPadding: 14px 16px;
$verificationInputWidth: 197px;
$verificationIconMargin: 16px;
$buttonMarginTop: 60px;

// Text field styles
.textfield {
  margin-top: 24px;
}

.reset-container {
  @extend .bg-white;
  max-width: 480px;
  width: 100%;
  min-height: 602px;
  border-radius: 24px;
  padding: 60px;
  margin-bottom: 28px;
  @media screen and (max-width: $breakpoint-xs) {
    padding: 24px;
  }
}

.reset-header {
  font-family: 'Plus Jakarta', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.q-page-container {
  background-color: $bluegray-50;
}

.auth {
  min-height: calc(100vh - 184px);
  background-color: $bluegray-50;
  padding: 24px 0px;
  @media screen and (max-width: $breakpoint-xs) {
    min-height: calc(100vh - 116px);
  }
}

// Verification code text styles
.verification-code-text {
  padding-top: 5px;
  margin-left: 12px;
}

// Form container styles
.form-container {
  margin-top: $containerMarginTop;
}

// Verification code label styles
.verification-code-label {
  margin-bottom: 8px;
  color: $verificationLabelColor;
  font-size: $verificationLabelFontSize;
  margin-top: 24px;
}

// Verification code container styles
.verification-code-container {
  height: 52px;
  background-color: #f9fafb;
  border-radius: 16px;
  padding: $containerPadding;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    margin-left: 8px;
  }
}

// Verification code input styles
.verification-code-input {
  width: 100%;
  font-size: 16px;
}

// Verification code icon styles
.verification-code-icon {
  font-weight: normal;
  margin-right: $verificationIconMargin;
}

.footer-buttons {
  margin-top: 60px;
  gap: 8px;
  .flex-grow {
    flex-grow: 1;
    justify-content: stretch;
    :deep(.flex) {
      width: 100%;
    }
  }
}
