@import '../../../../../css/app.scss';

.bread-crumb-header {
  margin-top: 52px;
  .close-icon {
    @extend .bg-bluegray-50;
    font-size: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }
  :deep(.q-breadcrumbs) {
    .passed-step,
    .non-active-step {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .active-step {
      i {
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}
