@import '../../../../../css/app.scss';
.side-bar {
  height: calc(100vh - 92px);
  position: sticky;
  top: 92px;
  background-color: $white;
  @media screen and (max-width: $breakpoint-sm) {
    height: auto;
    position: static;
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .set-font-size {
    @extend .text-arcticblue-600;
    width: fit-content;
    font-size: 24px;
    font-weight: 300;
  }
}
