@import '../../../../../../css/app.scss';
$horizontal-divider-border-bottom: 1px solid $bluegray-200;

.mypage-services-pending {
  @extend .text-bluegray-900;

  .inditcator-text {
    @extend .label-xs-med;
    margin-bottom: 8px;
  }

  .arrow-right-icon {
    margin: 0px 10px;
    margin-top: 2px;
  }

  .parent-text {
    @extend .label-xs-med, .text-bluegray-500;
    text-decoration: underline;
    margin-bottom: 6px;
  }

  .add-button {
    @extend .bg-bluegray-800, .text-white;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    font-size: 20px;
  }

  .service-text {
    margin-bottom: 16px;
  }

  .title-text {
    @extend .heading-4;
    margin-right: 16px;
  }

  .horizontal-divider {
    margin: 36px 0px;
    border-top: 0px;
    border-bottom: $horizontal-divider-border-bottom;
  }
}
