// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Primary Colors
$primary-arcticblue: #253bff;
$primary-limegreen: #b0f644;

// Shades of Arctic Blue
$arctic-blue-25: #f4f5ff;
$arctic-blue-50: #eaecff;
$arctic-blue-100: #d3d8ff;
$arctic-blue-200: #b8bfff;
$arctic-blue-300: #8e9aff;
$arctic-blue-400: #6473ff;
$arctic-blue-500: #4c53ff;
$arctic-blue-600: #253bff;
$arctic-blue-700: #2030e2;
$arctic-blue-800: #1d2cb6;
$arctic-blue-900: #162282;
$arctic-blue-950: #131953;

// Shades of Limegreen
$limegreen-50: #f6fee7;
$limegreen-100: #ebfbcc;
$limegreen-200: #d7f89e;
$limegreen-300: #bbf662;
$limegreen-400: #9ff443;
$limegreen-500: #72d909;
$limegreen-600: #56ae02;
$limegreen-700: #418407;
$limegreen-800: #37680c;
$limegreen-900: #2f5710;
$limegreen-950: #153102;

// Red shades
$red-50: #fff0f0;
$red-100: #ffdddd;
$red-200: #ffc0c0;
$red-400: #ff5757;
$red-500: #ff2323;
$red-700: #d70000;

// Yellow shades
$yellow-50: #fefde8;
$yellow-200: #fff889;
$yellow-300: #ffec42;
$yellow-500: #ecc206;

//Black & White
$black: #000000;
$white: #ffffff;

//Blue
$bluegray-50: #f9fafb;
$bluegray-100: #f2f4f7;
$bluegray-200: #eaecf0;
$bluegray-300: #d0d5dd;
$bluegray-400: #98A2B3;
$bluegray-500: #667085;
$bluegray-600: #475467;
$bluegray-700: #344054;
$bluegray-800: #1d2939;
$bluegray-900: #101828;

// Typography variables
// TITLE
$heading-1: (
  'font-size': 3.75rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading-2: (
  'font-size': 3rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading-3: (
  'font-size': 2.25rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading-4: (
  'font-size': 2rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading-5: (
  'font-size': 1.75rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading-6: (
  'font-size': 1.5rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-4%',
);

$heading: (
  'font-size': 1.25rem,
  'font-weight': 700,
  'line-height': 1.5rem,
  'letter-spacing': '-4%',
);

$subH-lg-bold: (
  'font-size': 1.125rem,
  'font-weight': 700,
  'line-height': 1.5rem,
  'letter-spacing': '-4%',
);
$subH-lg-med: (
  'font-size': 1.125rem,
  'font-weight': 500,
  'line-height': 1.5rem,
  'letter-spacing': '-4%',
);
$subH-md-bold: (
  'font-size': 1rem,
  'font-weight': 700,
  'line-height': 1.25rem,
  'letter-spacing': '-2%',
);
$subH-md-med: (
  'font-size': 1rem,
  'font-weight': 500,
  'line-height': 1.5rem,
  'letter-spacing': '-2%',
);
$subH-sm-bold: (
  'font-size': 0.875rem,
  'font-weight': 700,
  'line-height': 1.5rem,
  'letter-spacing': '-2%',
);
$subH-sm-med: (
  'font-size': 0.875rem,
  'font-weight': 500,
  'line-height': 1.5rem,
  'letter-spacing': '-2%',
);

// BODY
$p-lg: (
  'font-size': 1.125rem,
  'font-weight': 400,
  'line-height': 1.5rem,
  'letter-spacing': '-4%',
);
$p-md: (
  'font-size': 1rem,
  'font-weight': 400,
  'line-height': 1.5rem,
  'letter-spacing': '-2%',
);
$p-sm: (
  'font-size': 0.875rem,
  'font-weight': 400,
  'line-height': 1.5rem,
  'letter-spacing': '-2%',
);

// Bold Labels
$label-lg-bold: (
  'font-size': 1.125rem,
  'font-weight': 700,
  'line-height': 1rem,
  'letter-spacing': '-4%',
);
$label-lg-med: (
  'font-size': 1.125rem,
  'font-weight': 500,
  'line-height': 1rem,
  'letter-spacing': '-4%',
);
$label-lg: (
  'font-size': 1.125rem,
  'font-weight': 400,
  'line-height': 1rem,
  'letter-spacing': '-4%',
);

$label-md-bold: (
  'font-size': 1rem,
  'font-weight': 700,
  // 'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-md-med: (
  'font-size': 1rem,
  'font-weight': 500,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-md: (
  'font-size': 1rem,
  'font-weight': 400,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);

$label-sm-bold: (
  'font-size': 0.875rem,
  'font-weight': 700,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-sm-med: (
  'font-size': 0.875rem,
  'font-weight': 500,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-sm: (
  'font-size': 0.875rem,
  'font-weight': 400,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);

$label-xs-bold: (
  'font-size': 0.75rem,
  'font-weight': 700,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-xs-med: (
  'font-size': 0.75rem,
  'font-weight': 500,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
$label-xs: (
  'font-size': 0.75rem,
  'font-weight': 400,
  'line-height': 1rem,
  'letter-spacing': '-2%',
);
