// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Primary Colors
$primary-arcticblue: #253BFF;
$primary-limegreen: #B0F644;

// Shades of Arctic Blue
$arctic-blue-25: #F4f5ff;
$arctic-blue-50: #eaecff;
$arctic-blue-100: #d3d8ff;
$arctic-blue-200: #b8bfff;
$arctic-blue-300: #8e9aff;
$arctic-blue-400: #6473ff;
$arctic-blue-500: #4c53ff;
$arctic-blue-600: #253bff;
$arctic-blue-700: #2030e2;
$arctic-blue-800: #1d2cb6;
$arctic-blue-900: #162282;
$arctic-blue-950: #131953;

// Shades of Limegreen
$limegreen-50: #F6FEE7;
$limegreen-100: #EBFBCC;
$limegreen-200: #D7F89E;
$limegreen-300: #BBF662;
$limegreen-400: #9FF443;
$limegreen-500: #72D909;
$limegreen-600: #56AE02;
$limegreen-700: #418407;
$limegreen-800: #37680C;
$limegreen-900: #2F5710;
$limegreen-950: #153102;

// Typography variables

//TITLE
$display-06: (
  'font-size': 60px,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$display-05: (
  'font-size': 3.000em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$display-04: (
  'font-size': 2.250em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$display-03: (
  'font-size': 2.000em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$display-02: (
  'font-size': 1.750em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$display-01: (
  'font-size': 1.500em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);

$headline: (
  'font-size': 1.250em,
  'font-weight': 700,
  'line-height': 1.5em,
  'letter-spacing':'-4%'
);

$subhead-02: (
  'font-size': 0.875em,
  'font-weight': 500,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);
$subhead-02-bold: (
  'font-size': 0.875em,
  'font-weight': 700,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);
$subhead-03: (
  'font-size': 1.000em,
  'font-weight': 500,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);
$subhead-03-bold: (
  'font-size': 1.000em,
  'font-weight': 700,
  'line-height': 1.25em,
  'letter-spacing':'-4%'
);
$subhead-04: (
  'font-size': 1.125em,
  'font-weight': 500,
  'line-height': 1.5em,
  'letter-spacing':'-4%'
);
$subhead-04-bold: (
  'font-size': 1.125em,
  'font-weight': 700,
  'line-height': 1.5em,
  'letter-spacing':'-4%'
);

//BODY
$body-03: (
  'font-size': 1.125em,
  'font-weight': 400,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);
$body-02: (
  'font-size': 1.000em,
  'font-weight': 400,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);
$body-01: (
  'font-size': 0.875em,
  'font-weight': 400,
  'line-height': 1.5em,
  'letter-spacing':'-2%'
);

// LABELS
$label-04-bold: (
  'font-size': 1.125em,
  'font-weight': 700,
  'line-height': 1.125em,
  'letter-spacing':'-2%'
);
$label-04-medium: (
  'font-size': 1.125em,
  'font-weight': 500,
  'line-height': 1.125em,
  'letter-spacing':'-2%'
);
$label-04: (
  'font-size': 1.125em,
  'font-weight': 400,
  'line-height': 1.125em,
  'letter-spacing':'-2%'
);

$label-03-bold: (
  'font-size': 1.000em,
  'font-weight': 700,
  'line-height': 1.000em,
  'letter-spacing':'-2%'
);
$label-03-medium: (
  'font-size': 1.000em,
  'font-weight': 500,
  'line-height': 1.000em,
  'letter-spacing':'-2%'
);
$label-03: (
  'font-size': 1.000em,
  'font-weight': 400,
  'line-height': 1.000em,
  'letter-spacing':'-2%'
);

$label-02-bold: (
  'font-size': 0.875em,
  'font-weight': 700,
  'line-height': 0.875em,
  'letter-spacing':'-2%'
);
$label-02-medium: (
  'font-size': 0.875em,
  'font-weight': 500,
  'line-height': 0.875em,
  'letter-spacing':'-2%'
);
$label-02: (
  'font-size': 0.875em,
  'font-weight': 400,
  'line-height': 0.875em,
  'letter-spacing':'-2%'
);

$label-01-bold: (
  'font-size': 0.750em,
  'font-weight': 700,
  'line-height': 0.750,
  'letter-spacing':'-2%'
);
$label-01-medium: (
  'font-size': 0.750em,
  'font-weight': 500,
  'line-height': 0.750,
  'letter-spacing':'-2%'
);
$label-01: (
  'font-size': 0.750em,
  'font-weight': 400,
  'line-height': 0.750,
  'letter-spacing':'-2%'
);
