@import '../../../../../../css/app.scss';

.add-payment-container {
  padding: 0px 36px;

  .textfield {
    margin-top: 18px;
  }

  .save-button {
    height: 98px;
  }

  .title {
    @extend .text-bluegray-900, .heading-6;
  }
}
