@import '../../../../../../../css/app.scss';

// Define variables for fixed values
$margin-bottom-inquiry-title: 27px;
$margin-bottom-description: 23px;
$border-bottom-width-inquiry-item: 0.1px;
$border-color-inquiry-item: lightgray;
$font-weight-inquiry-title: 800;
$font-size-inquiry-title: 32px;

// Define color variables
$attachment-background-color: #f2f4f7;
$attachment-close-background-color: #d0d5dd;
$attachment-close-icon-color: white;

// Define dimension variables
$attachment-width: 228px;
$attachment-padding: 10px 16px;
$attachment-close-width: 26px;
$attachment-close-height: 26px;
$attachment-close-padding: 6px;

// Define border-radius variables
$attachment-border-radius: 24px;
$attachment-close-border-radius: 50%;

// Define margin variables
$attachment-margin-top: 8px;
$attachment-close-margin-right: 2px;

.inquiry-title {
  @extend .heading-6;
  margin-bottom: $margin-bottom-inquiry-title;
}

// MyProfileInquiry.scss

.my-profile-inquiry-container {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.my-profile-inquiry-title {
  font-weight: $font-weight-inquiry-title;
  font-size: $font-size-inquiry-title;
}

.inquiry-item-container {
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom-width: $border-bottom-width-inquiry-item;
  border-color: $border-color-inquiry-item;
  border-bottom-style: solid;
}

.inquiry-item {
  width: 60%;
}

.inquiry-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.inquiry-description {
  margin-bottom: $margin-bottom-description;
}


.attachment-label-font {
  @extend .label-sm-bold;
  padding-top: 8px;
}

.attachment-list {
  margin-top: 24px;
  margin-bottom: 36px;
}

/* Define styles for attachment-list container */
.attachment-item-list {
  @extend .label-sm-bold, .text-bluegray-900;
  width: $attachment-width;
  border-radius: $attachment-border-radius;
  background-color: $attachment-background-color;
  padding: $attachment-padding;
  margin-top: $attachment-margin-top;
}

/* Define styles for the inner div element */
.attachment-close {
  width: $attachment-close-width;
  height: $attachment-close-height;
  background-color: $attachment-close-background-color;
  border-radius: $attachment-close-border-radius;
  padding: $attachment-close-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $attachment-close-margin-right;
}

.breadcrumb {
  display: flex;
}

.help-center {
  @extend .text-bluegray-500;
  text-decoration: underline;
}

.breadcrumb-separator {
  padding-left: 5px;
}

.breadcrumb-item {
  @extend .text-bluegray-700;
  text-decoration: none !important;
}

.empty-card-container {
  @extend .bg-bluegray-50, .subH-lg-med, .text-bluegray-400;
  flex-direction: column;
  display: flex;
  height: 224px;
  border-radius: 36px;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}