@import '../../../../../../css/app.scss';

// Define variables for common spacing values.
$gap-medium: 24px;
$margin-bottom-small: 10px;
$margin-top-medium: 24px;
$margin-bottom-medium: 24px;
$font-size-large: 32px;
$font-weight-bold: 800;

// Container styles.
.container {
    max-width: 80%;
}

// Breadcrumbs styles.
.breadcrumbs {
    margin-bottom: $margin-bottom-small;
}

// Title styles.
.title {
    @extend .heading-4, .text-bluegray-900;
    margin-top: $margin-top-medium;
    margin-bottom: $margin-bottom-medium;
}

// Grid container styles.
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-medium;
    margin-bottom: $margin-bottom-medium;
}

// Button container styles.
.button-container {
    display: flex;
}

.parent-text {
    @extend .text-bluegray-300;
}