@import '../../../../../css/app.scss';

$textfield-border-radius: 16px;
$textfield-padding: 0px 16px;
$textfield-shadow: 0 0 0 4px rgba(37, 59, 255, 0.2);
$textfield-height: 52px;

.textfield-primary-bg {
  @extend .bg-bluegray-50;
}

.textfield-white-bg {
  @extend .bg-white;
}

.textfield-disabled-bg {
  @extend .bg-bluegray-200;
  :deep(.q-icon) {
    @extend .text-bluegray-600;
  }
}

.textfield-destructive {
  @extend .bg-red-50, .text-red-500;
  border: 1px solid $red-500;
  :deep(.q-icon) {
    @extend .text-red-500;
  }
}
.textfield-label {
  @extend .label-sm, .text-bluegray-500;
  margin-bottom: 9px;
}

.textfield-description {
  @extend .label-sm, .text-bluegray-500;
  margin-top: 11px;
  line-height: 22px
}
.textfield-description.set-error-properties {
  @extend .label-sm, .text-red-500;
  margin-top: 11px;
}
.textfield-primary {
  border-radius: $textfield-border-radius;
  padding: $textfield-padding;
  height: $textfield-height;

  // Inputted text
  :deep(.q-field__native, .q-field__input) {
    @extend .label-md, .text-bluegray-900;
    height: 52px;
  }
  &:focus {
    box-shadow: $textfield-shadow !important;
  }
  :deep(.q-field__marginal) {
    height: 52px !important;
  }
}
.textfield-primary.remove-icon-left-space {
  :deep(.q-field__prepend) {
    display: none !important;
  }
}
