@import '../../../../../../css/app.scss';

.notice-pins {
  margin-bottom: 12px;
  @media screen and (max-width: $breakpoint-xs) {
    flex-direction: column;
    gap: 12px;
  }
  .pin {
    @extend .label-lg-bold;
    margin-right: 12px;
  }

  .title {
    @extend .label-lg-bold;
  }
  .date {
    @extend .label-sm;
    @media screen and (max-width: $breakpoint-xs) {
      padding-left: 38px;
    }
  }
}
